<div class="bg-gray-100 min-h-screen p-4">
    <!-- Título y Subtítulo -->
    <div class="text-center p-4">
      <p class="text-indigo-600 text-5xl">D&D Backgrounds</p>
      <p class="text-xl text-gray-700 mt-2">Explore the lore and stories of different characters</p>
    </div>
  
    <!-- Contenido de Trasfondos -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div *ngFor="let background of backgrounds" 
           class="bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg hover:bg-slate-50 transition-shadow duration-300 cursor-pointer"
           (click)="BackgroundDetail(background.slug)">
        <div class="p-8">
          <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"><mat-icon class="-mb-1">menu_book</mat-icon> {{ background.document__title }}</div>
          <p class="block mt-1 text-lg leading-tight font-medium text-black">{{ background.name }}</p>
          <p class="mt-2 text-gray-600 line-clamp-2 md:line-clamp-3">{{ background.desc }}</p>
      </div>
    </div>
  </div>
  