


<div class="mx-6">
  <div class="container mx-auto px-4 py-8"> 
    <h1 class="text-center text-4xl font-bold text-indigo-700">List of D&D Rules</h1>
    <h2 class="text-center text-xl text-gray-600 mt-2">Here you can find all the rules of the game to play D&D.</h2>
  </div>

  <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-4"> 
    <div *ngFor="let rule of rules" class="cursor-pointer rounded-md hover:bg-indigo-100">
      <div class="bg-indigo-600 text-white p-4" (click)="RuleDetail(rule.slug)">
        <h2 class="text-lg font-bold">{{ rule.name }}</h2>
        <p class="text-sm">{{ rule.parent }}</p>
      </div>
    </div>
  </div>
</div>