<div *ngIf="class" class="bg-gray-100 p-4 min-h-screen">
  <mat-card class="max-w-5xl mx-auto bg-white shadow-lg">
    <mat-card-title class="text-4xl my-2 mb-2 text-indigo-600 font-bold text-center">{{class.name}}</mat-card-title>
    <mat-card-content>
      <div [innerHTML]="getHtml(class.desc)" class="text-xl prose prose-lg prose-indigo m-auto text-gray-700"></div>
      <!-- Agrega aquí más contenido y estructuras para las otras propiedades, si es necesario -->
    </mat-card-content>
  </mat-card>
</div>

