<div class="bg-slate-50 pb-4">
  <div>
    <h1 class="text-center mat-headline-3 pt-4">List of D&D Races</h1>
    <h2 class="text-center mat-headline-4 text-gray-400">
      Choose your character's race
    </h2>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mx-10">
    <div *ngFor="let libro of libros">
      <mat-card class="pt-1">
        <h3 class="text-center mat-headline-5 text-purple-700">{{ libro.title }}</h3>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item *ngFor="let race of libro.races" (click)="RaceDetail(race.slug)">
            <p class="text-center hover:cursor-pointer hover:bg-slate-200"><b>{{ race.name }}</b></p>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>
