<header>
    <div class="bg-gradient-to-r from-indigo-700 to-blue-500 text-white text-center flex pt-5 pb-3">
        <div class="w-1/6">
            <a class="hover:cursor-pointer" (click)="fullscreen()"><i class="fa-solid fa-expand fa-2xl"></i></a>
        </div>
        <div class="w-2/3 text-4xl">
            <h1>Role&Roll</h1>
        </div>
        <div class="w-1/6>">
            <button routerLink="/login" ><i class="fa-solid fa-user fa-2xl hover:cursor-pointer"></i></button>
        </div>
    </div>
</header>