<div class="text-center">
  <h1>List of Monsters</h1>
  <div class="flex-row">
    <mat-form-field class="mx-3 w-1/6">
      <mat-label>General Search...</mat-label>
      <input matInput type="text" [(ngModel)]="nombre" />
      <button
        *ngIf="nombre"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="nombre = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="mx-3 w-1/6">
      <mat-label>Select monster's type</mat-label>
      <mat-select [(value)]="categoria">
        <mat-option value="">-Class-</mat-option>
        <mat-option *ngFor="let categoria of categorias" value="{{ categoria }}">{{
          categoria
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mx-3 w-1/6">
      <mat-label>Select monster's cr</mat-label>
      <mat-select [(value)]="cr">
        <mat-option value="">-School-</mat-option>
        <mat-option *ngFor="let c of crs" value="{{ c }}">{{
          c
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mx-3 w-1/6">
      <mat-label>Select monster's alignment</mat-label>
      <mat-select [(value)]="alineamiento">
        <mat-option value="">-Level-</mat-option>
        <mat-option *ngFor="let a of alineamientos" value="{{ a }}">{{
          a
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      (click)="Buscar()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="flex justify-center items-center">
    <div class="mat-elevation-z8 w-5/6 bottom-1">
      <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="name">
          <th mat-sort-header="name" mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let monster">{{ monster.name }}</td>
        </ng-container>

        <ng-container matColumnDef="cr">
          <th mat-sort-header="cr" mat-header-cell *matHeaderCellDef>Cr</th>
          <td mat-cell *matCellDef="let monster">{{ monster.cr }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-sort-header="type" mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let monster">{{ monster.type }}</td>
        </ng-container>

        <ng-container matColumnDef="alignment">
          <th mat-sort-header="alignment" mat-header-cell *matHeaderCellDef>Alignment</th>
          <td mat-cell *matCellDef="let monster">{{ monster.alignment }}</td>
        </ng-container>

        <ng-container matColumnDef="book">
          <th mat-sort-header="book" mat-header-cell *matHeaderCellDef>Source Book</th>
          <td mat-cell *matCellDef="let monster">{{ monster.document__title }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="hover:cursor-pointer hover:bg-gray-50" mat-row *matRowDef="let row; columns: displayedColumns"
          matTooltip="Info about the monster" [matTooltipPosition]="'below'"></tr>
      </table>

      <mat-paginator #paginator [pageSizeOptions]="[20, 50, 75]" [length]="this.monstruos.count" showFirstLastButtons
        aria-label="Select page of monsters" (page)=pageChanged($event);>
      </mat-paginator>
    </div>
  </div>


</div>
