<mat-card>
  <mat-card-header class="flex justify-center text-center pb-1">
    <mat-card-title>{{ spell.name }}</mat-card-title>
    <mat-card-subtitle>{{ spell.level }} - {{ spell.school }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ spell.desc }}</p>
    <p *ngIf="spell.higher_level"><strong>At Higher Levels:</strong> {{ spell.higher_level }}</p>
    <p><strong>Range:</strong> {{ spell.range }}</p>
    <p><strong>Components:</strong> {{ spell.components }} <ng-container *ngIf="spell.material"> ({{spell.material }})</ng-container></p>
    <p><strong>Casting Time:</strong> {{ spell.casting_time }}</p>
    <p><strong>Duration:</strong> {{ spell.duration }}</p>
    <p><strong>Classes:</strong> {{ spell.dnd_class }}</p>
  </mat-card-content>
</mat-card>
