<mat-card class="mat-typography">
  <mat-card-header class="flex justify-center text-center pb-1">
    <mat-card-title>{{ spell.name }}</mat-card-title>
    <mat-card-subtitle
      >{{ spell.level }}-level {{ spell.school }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>{{ spell.desc }}</p>
    <div class="grid grid-cols-2 gap-1">
      <div>
        <p *ngIf="spell.higher_level">
          <strong>At Higher Levels:</strong> {{ spell.higher_level }}
        </p>
        <p><strong>Range:</strong> {{ spell.range }}</p>
        <p>
          <strong>Components:</strong> {{ spell.components }} ({{
            spell.material
          }})
        </p>
        <p><strong>Casting Time:</strong> {{ spell.casting_time }}</p>
        <p><strong>Duration:</strong> {{ spell.duration }}</p>
      </div>

      <div>
        <p><strong>Classes:</strong> {{ spell.dnd_class }}</p>
        <p *ngIf="spell.ritual !== 'no'"><strong>Ritual:</strong> Yes</p>
        <p *ngIf="spell.school"><strong>School:</strong> {{ spell.school }}</p>
        <p *ngIf="spell.archetype"><strong>Archetype:</strong> {{ spell.archetype }}</p>
        <p *ngIf="spell.circles"><strong>Circles:</strong> {{ spell.circles }}</p>
        <p><strong>Source:</strong> {{ spell.document__title }}</p>
        <p *ngIf="spell.page"><strong>Page:</strong> {{ spell.page }}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</mat-card>
