<div class="text-center">
  <h1>List of Spells</h1>

  <div class="flex-row">
    <mat-form-field>
      <mat-label>Search your spell..</mat-label>
      <input matInput type="text" [(ngModel)]="nombre" />
      <button
        *ngIf="nombre"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="nombre = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select the class</mat-label>
      <mat-select [(value)]="clase_seleccionada">
        <mat-option>-Class-</mat-option>
        <mat-option *ngFor="let clase of clases" value="{{ clase }}">{{
          clase
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select the magic school</mat-label>
      <mat-select [(value)]="escuela_seleccionada">
        <mat-option>-School-</mat-option>
        <mat-option *ngFor="let escuela of escuelas" value="{{ escuela }}">{{
          escuela
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select the spell's level</mat-label>
      <mat-select [(value)]="nivel_seleccionado">
        <mat-option>-Level-</mat-option>
        <mat-option *ngFor="let nivel of niveles" value="{{ nivel }}">{{
          nivel
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      (click)="
        BuscarApi(
          this.nombre,
          this.clase_seleccionada,
          this.escuela_seleccionada,
          this.nivel_seleccionado
        )
      "
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div *ngIf="!cargado">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="detallesHechizos.slice(page * pageSize, (page + 1) * pageSize)"
      class="mat-elevation-z8"
      matSort
      (matSortChange)="sortData($event)"
    >
      <ng-container matColumnDef="nombre">
        <th mat-sort-header="name" mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let hechizo">{{ hechizo.name }}</td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-sort-header="level" mat-header-cell *matHeaderCellDef>Level</th>
        <td mat-cell *matCellDef="let hechizo">{{ hechizo.level }}</td>
      </ng-container>

      <ng-container matColumnDef="range">
        <th mat-sort-header="range" mat-header-cell *matHeaderCellDef>Range</th>
        <td mat-cell *matCellDef="let hechizo">{{ hechizo.range }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [pageSizeOptions]="[5, 10, 15]"
      [length]="detallesHechizos.length"
      showFirstLastButtons
      aria-label="Select page of spells"
      (page)="handlePage($event)"
    >
    </mat-paginator>
  </div>
</div>
