<footer class="bg-blue-300 mt-auto">
  <div>
    <div class="m-1.5">
      <h4>Role&Roll</h4>
    </div>
    <mat-divider class="mx-1"></mat-divider>
    <div class="m-1.5"><h5>Contacto</h5></div>
    <mat-divider class="mx-1"></mat-divider>
    <div class="text-xs m-1.5">
      <p>
        Wizards of the Coast, Dungeons & Dragons, and their logos are trademarks
        of Wizards of the Coast LLC in the United States and other countries. ©
        2020 Wizards. All Rights Reserved. Role&Roll is not affiliated with,
        endorsed, sponsored, or specifically approved by Wizards of the Coast
        LLC. Role&Roll may use the trademarks and other intellectual property of
        Wizards of the Coast LLC, which is permitted under
        <a
          class="text-blue-600"
          href="https://dnd.wizards.com/articles/features/fan-site-kit"
          >Wizards' Fan Site Policy</a
        >. For more information about Wizards of the Coast or any of Wizards'
        trademarks or other intellectual property, please visit their website at
        <a class="text-blue-600" href="www.wizards.com">www.wizards.com</a>.
      </p>
    </div>
  </div>
</footer>
