
<footer class="bg-gradient-to-r from-indigo-500 to-indigo-700 text-white">
  <div class="container mx-auto py-6 px-4 md:px-6 lg:px-8">
    <!-- Footer Headline -->
    <div class="flex justify-between items-center border-b border-indigo-300 pb-4">
      <h4 class="text-lg font-bold">Role&Roll</h4>
      <!-- Social Icons -->
      <div class="flex space-x-4">
        <a href="https://www.linkedin.com/in/bogdan-andrei-szasz-4b5562294/" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:text-blue-700">
          <i class="fa-brands fa-linkedin fa-xl" style="color: #fff"></i>
      </a>
      <a href="https://github.com/Rhaizel02" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:text-blue-700">
          <i class="fa-brands fa-github fa-xl" style="color: #fff"></i>
      </a>
        <!-- Add more social icons if needed -->
      </div>
    </div>
    <!-- Footer Content -->
    <div class="pt-4 mt-2 text-sm">
      <div><h5 class="font-semibold">Legal</h5></div>
      <p class="mt-2">
        Wizards of the Coast, Dungeons & Dragons, and their logos are registered trademarks of Wizards of the Coast LLC in the United States and other countries. © 2020 Wizards. All rights reserved. Role&Roll is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. Role&Roll may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under the <a href="https://dnd.wizards.com/articles/features/fan-site-kit" class="underline text-blue-300">Wizards Fan Site Policy</a>. For more information about Wizards of the Coast or any of its trademarks or other intellectual property, please visit its website at <a href="http://www.wizards.com" class="underline text-blue-300">www.wizards.com</a>.      </p>
    </div>
  </div>
</footer>
