<div class="m-2.5">
  <h2 class="text-center">{{ data.name }}</h2>
  <div *ngIf="data.level == 0; then content; else other_content"></div>
  <ng-template #content><p class="text-center">Cantrip</p></ng-template>
  <ng-template #other_content
    ><p class="text-center">Spell level {{ data.level }}</p></ng-template
  >
  <mat-divider></mat-divider>

  <p><strong>Components: </strong>{{ data.components }}</p>
  <p><strong>Casting time: </strong>{{ data.casting_time }}</p>
  <p><strong>Range: </strong>{{ data.range }}</p>
  <p><strong>Duration: </strong>{{ data.duration }}</p>
  <p><strong>Magic School: </strong>{{ data.school.name }}</p>
  <p>
    <strong>Classes: </strong>
    <ng-container *ngFor="let clase of data.classes">{{
      clase.name + ", "
    }}</ng-container>
  </p>

  <mat-divider></mat-divider>
  <p>{{ data.desc }}</p>
</div>
