<div class="bg-gray-100">
  <div class="text-center pt-1">
    <h1 class="mat-headline-2">D&D Dice Roller</h1>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-1 px-4 md:px-32">
    <div class="text-center">
      <h2 class="mat-headline-4">Configure your rolls</h2>
      <div class="flex justify-center">
        <div class="w-full md:w-2/3">
          <table mat-table [dataSource]="entrada" class="mat-elevation-z8 w-full">
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef class="w-1/6">No.</th>
              <td mat-cell *matCellDef="let element" class="w-1/6">
                <input type="number" matInput [(ngModel)]="element.no" class="w-3/4 text-lg"/>
              </td>
            </ng-container>

            <ng-container matColumnDef="dice">
              <th mat-header-cell *matHeaderCellDef class="w-1/4">Dice</th>
              <td mat-cell *matCellDef="let element" class="w-1/4">
                <mat-select [(ngModel)]="element.dice" >
                  <mat-option *ngFor="let dice of dados" [value]="dice.valor">
                    {{ dice.etiqueta }}</mat-option>
                </mat-select>
              </td>
            </ng-container>

            <ng-container matColumnDef="modifier">
              <th mat-header-cell *matHeaderCellDef class="w-1/4">Modifier</th>
              <td mat-cell *matCellDef="let element" class="w-1/4">
                <input type="number" matInput [(ngModel)]="element.modifier" class="w-3/4 text-lg"/>
              </td>
            </ng-container>

            <ng-container matColumnDef="advantage">
              <th mat-header-cell *matHeaderCellDef class="w-1/2">Advantage</th>
              <td mat-cell *matCellDef="let element" class="w-1/2">
                
                <mat-select [(ngModel)]="element.advantage">
                  <mat-option *ngFor="let adv of advantages" [value]="adv.valor"> {{ adv.etiqueta }}</mat-option>
                </mat-select>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
      <div class="pt-3 flex justify-center space-x-2">
        <button mat-raised-button color="secondary" (click)="removeRow()">
          <mat-icon>remove</mat-icon>Remove Roll
        </button>
        <button mat-raised-button color="secondary" (click)="addRow()">
          <mat-icon>add</mat-icon>Add Roll
        </button>
      </div>
    </div>
    <div class="text-center">
      <h2 class="mat-headline-4">Dice Rolls Log</h2>
      <textarea class="w-3/4 md:w-1/2 h-52" matInput cdk-scrollable readonly ngModel={{log}}></textarea>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 pb-4 px-4 md:px-32">
    <div class="text-center md:text-end">
      <button mat-raised-button class="w-3/4 md:w-1/6" color="primary" (click)="reset()">
        <mat-icon>restart_alt</mat-icon>Reset
      </button>
    </div>
    <div class="text-center md:text-left">
      <button mat-raised-button class="w-3/4 md:w-1/6" color="accent" (click)="roll()">
        <mat-icon>casino</mat-icon>Roll!
      </button>
    </div>
  </div>
</div>
